{% extends 'base/overall.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="loginForm">
        <h1>Bienvenido</h1>
        <ul class="tabs" style="background-color: transparent">
            <li class="tab col s2"><a class="active" href="#login">Iniciar sesión</a></li>
            <li class="tab col s2"><a href="#registro">Registro</a></li>
        </ul>

        <div id="login">
            <form action="" method="post">
                {% csrf_token %}
                {{ form_login.as_p }}
                <div style="text-align: right">
                    ¿Olvido su contraseña?<br><br>
                </div>
                <button type="submit" class="btn waves-effect waves-light" style="width:100%" name="iniciar">Iniciar sesión</button>
            </form>
        </div>
        <div id="registro">
            <form method="post">
                {% csrf_token %}
                {{ form_registro.as_p }}
                <button type="submit" class="btn waves-effect waves-light" style="width:100%" name="registro">Registrarse</button>
                <br><br><br><br><br>
            </form>
        </div>
    </div>
{% endblock %}