{% extends "base/overall.html" %}

{% block content %}
        <div class="row">
            <div class="col s2 leftMenu">
                <div>
                    <h4><img src="../static/img/LogoADSI.png" style="width: 100%;"></h4>
                </div>
                <ul>
                    <a href="../"><li><i class="material-icons icon-menu">blur_on</i><span>Principal</span></li></a>
                    <a href="{% url "agregarGrupos" %}"><li><i class="material-icons icon-menu">group</i><span>Añadir grupo</span></li></a>
                    <a href="{% url "setGrupos" %}"><li><i class="material-icons icon-menu">settings</i><span>Administrar grupo</span></li></a>
                    <a href="{% url "asistencia" %}"><li><i class="material-icons icon-menu">assignment_turned_in</i><span>Asistencia</span></li></a>
                    <a href="{% url "proyecto" %}"><li><i class="material-icons icon-menu">work</i><span>Proyecto</span></li></a>
                    <a href="{% url "works" %}"><li><i class="material-icons icon-menu">pan_tool</i><span>Participaciones</span></li></a>
                    <a href="{% url "exam" %}"><li><i class="material-icons icon-menu">description</i><span>Examenes</span></li></a>
                    <a href="{% url "report" %}"><li><i class="material-icons icon-menu">assignment</i><span>Reportes</span></li></a>
                </ul>
            </div>
            <div class="col s10" style="padding: 0%;display: block;overflow:scroll;height: 100vh;">
                <div class="mainNav">
                    <div class="row">
                        <div class="col s6" style="line-height: 5">
                            <span><a href="../../">home </a> / <a href="../../asistencia">examen </a>/ Grupo {{ horario.0.materia }}</span>
                        </div>
                        <div class="col s6" style="text-align: right; line-height: 3">
                            <ul>
                                <li>
                                    <a class="dropdown-button" href="#!" data-activates="dropdown1" style="color:black;">
                                        {{ usuario }}
                                        <i class="material-icons right" style="line-height: 1.8">arrow_drop_down</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" id="pagesTitles">
                        <i class="material-icons icon-menu-title">toc</i><span id="title">Calificaciones de el grupo {{ horario.0.materia }}</span>
                        <br>
                        <span style="color: #9B9B9B;font-size: 14px">Calificaciones de alumnos respecto a las metricas ingresadas, mire más información total de tareas etc </span>
                    </div>
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <span><b>Materia:</b> {{ horario.0.materia }}<b style="padding-left:5%"> Aula: </b> {{ horario.0.materia }} <b style="padding-left:5%"> Horario: </b>{{ horario.0.horaInicio }} - {{ horario.0.horaFinal }}</span>
                                <br><br>
                                {% for key in metrica %}
                                    <input type="hidden" id="totalExam" value="{{ key.num_exam }}">
                                    <input type="hidden" id="totalProy" value="{{ key.num_proy }}">
                                    <input type="hidden" id="totalAtt" value="{{ key.num_retardos }}">
                                    <input type="hidden" id="examAvg" value="{{ key.exam_avg }}">
                                    <input type="hidden" id="proyAvg" value="{{ key.proyect_avg }}">
                                    <input type="hidden" id="attAvg" value="{{ key.atten_avg }}">
                                    <input type="hidden" id="partAvg" value="{{ key.part_avg }}">
                                    <input type="hidden" id="tareaAvg" value="{{ key.tareas_avg }}">
                                {% endfor %}
                                <input type="hidden" id="totalAttendence" value="{{ totalAttendece }}">
                                <input type="hidden" id="totalhomework" value="{{ totalHomeworks }}">
                                <input type="hidden" id="totalProjects" value="{{ totalProjects }}">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Expediente</th>
                                            <th>Nombre del alumno</th>
                                            <th>Calificación</th>
                                            <th>Mas información</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for alumno in alumnosLista %}
                                        <tr>
                                            <td>{{ alumno.expediente }}</td>
                                            <td>{{ alumno.nombre }}</td>
                                            <td id="calif{{ forloop.counter }}"><script>setCalif({{ alumno.id }},{{ forloop.counter }})</script></td>
                                            <td><a onclick="openModalCalif({{ alumno.id }})" class="waves-effect waves-light btn blue btn-block">Ver más información</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Mi perfil</a></li>
            <li><a href="http://adsi.fuzionwebh.com/adsiProyecto/">Documentación</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'close' %}">Cerrar sesión</a></li>
        </ul>

        <div id="modal1" class="modal">

            <div class="modal-content">
                <h4 id="modalTitle">Modal Header</h4>
                <p id="modalBody">A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action waves-effect waves-light modal-close btn-flat">Cerrar</a>
            </div>
        </div>

        <div class="fixed-action-btn toolbar menuMobile" style="text-align: center; width: 100%; bottom: 0px; left: 0px; transition: transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53), background-color 0s linear 0.2s; overflow: hidden; background-color: #474747;">
            <ul>
                <li class="waves-effect waves-light" style="opacity: 1;visibility: visible;"><a href="#!"><i class="material-icons">group</i></a></li>
                <li class="waves-effect waves-light" style="opacity: 1;visibility: visible;"><a href="#!"><i class="material-icons">settings</i></a></li>
                <li class="waves-effect waves-light" style="opacity: 1;visibility: visible;"><a href="#!"><i class="material-icons">assignment_turned_in</i></a></li>
                <li class="waves-effect waves-light" style="opacity: 1;visibility: visible;"><a href="#!"><i class="material-icons">blur_on</i></a></li>
                <li class="waves-effect waves-light" style="opacity: 1;visibility: visible;"><a href="#!"><i class="material-icons">pan_tool</i></a></li>
                <li class="waves-effect waves-light" style="opacity: 1;visibility: visible;"><a href="#!"><i class="material-icons">description</i></a></li>
                <li class="waves-effect waves-light" style="opacity: 1;visibility: visible;"><a href="#!"><i class="material-icons">assignment</i></a></li>
            </ul>
        </div>
        <script>
            $(document).ready(function () {
               var parciales = $("#numParciales").val();
               for(var i = 1; i <= parciales; i++){
                   $("#setParcialSelect").append('<option value="'+i+'">'+i+'</option>');
               }
            });
        </script>
{% endblock %}